<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<h3>Email Templates:</h3>
<div>
{{#each emails as |email|}}
<div class="row mb-2" >
  <div class="col-md-8" id="{{email.id}}">
    <p style="display: none;">{{email.id}}</p>
    <button class="btn btn-primary btn-lg emailBtn" id="submitBtn" type="submit" onclick=get(this)> {{email.name}}</button>
    {{!-- <i class="fas fa-envelope"></i> --}}
  </div>
</div>
{{/each}}

{{!-- {{#each emailBodies as |emailBody|}}
<div class="row mb-2 email" id="{{emailBody.id}}">
  <div class="col-md-8">
    <p>{{{emailBody.emailForm}}}</p>
  </div>
  <button class="btn btn-primary" id="button" type="submit">Templatize</button>
</div>
{{/each}} --}}
</div>

<script src="./js/profile.js"></script>